@charset "utf-8";
/* CSS document body*/body{
    background-color: #cfdd92;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    height: 95vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #7cdce9;
    box-shadow: 2px 2px 12px
    rgba(0,0,0,0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
}

.logo{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.active{
    color:blueviolet;
    font-weight: bold;
}

.text-container p:nth-child(1){
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: chartreuse;
    font-size: 22px;
    }

.text-container p:nth-child(2){
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: chartreuse;
    font-size: 22px;
    }
.text-container p:nth-child(3){
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
        color: chartreuse;
        font-size: 22px;
        }


.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -14%);
}

.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.hire-btn{
    border: 2px solid #cfdd92;
    color: blanchedalmond;
}

.down-cv{
    background-color: coral;
    color: cornsilk;
    border: none;
}

button:active{
    transform: scale(1.1);
}

.copyright{
    color: rgb(139, 0, 35);
    font-size: 20px;
    position: absolute;
    left: 15%;
    bottom: 10%;
    transform: translateX(-50%);
}