ul.vtab li {list-style:none;}
ul.vtab li .year{padding:8px;display: block;border-right: 1px solid #1a1a1a;}
ul.vtab li .year:hover{border-right:1px solid #aed581;font-width:400;}
ul.vtab li .active{border-right:1px solid #aed581;font-width:400; color:#aed581;}
.bootstrap-select button.dropdown-toggle {height:60px; background-color:#fff;}
.bootstrap-select .filter-option {height:auto !important;}
.bootstrap-select .dropdown-menu li{padding:3px 20px; text-transform:none;}
.bootstrap-select .dropdown-menu li a{display:block;}
form#simulatorForm .btn-submit{background-color:#1d6c2f ;color:#fff;}
form#simulatorForm .btn-submit:hover{background-color:#aed581;}
.result {border:1px solid #e1e1e1;padding:10px;}
.result span{float:right;}
.result div {border-bottom: 1px solid #e3e3e3;padding:0 10px;}
.result div .total{font-weight:700;}
form#simulatorForm {color:#4e4e4e;}
form#simulatorForm em {font-size:12px;}

.about-text-box:hover h3,.about-text-box:hover p {color:unset;}
.about-text-box:before {background: #fff;}
.about-text-box .image {margin-bottom: 10px;}
@media screen and (max-width: 768px){
    .banner-section img {height:736px !important;}
}